@import "variables";

/* --------------- GENERAL--------------- */

*{
	margin: 0px;
	padding: 0px;
}

body {
	padding-top: 5rem;
}

/* --------------- HEADER --------------- */




/* ------- INDEX------- */

.index__titulo{
	text-align: center;
	color: $color;
	font-size: 3rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	font-style: italic;
	text-shadow: 0 0 0.2rem white;
}

.carousel-item {
	height: 65vh;
	min-height: 300px;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}




/* ------ DOG SECTION------ */

.dog__titulo{
	color: $color;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	font-style: italic;
}

.dog__titulo__chico{
	color: $color2;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	font-style: italic;
}


.dog__parrafo{
	padding-bottom: 50px;
	text-align: center;
	color: black;
	font-size: $parrafo;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-style: italic;
	text-transform: uppercase;
}

.dog__card{
	border:  0.2rem solid $color;
}

.portfolio-item {
	margin-bottom: 30px;
}

/* ------ APLICACION ------- */

.fondoAplicacion{
	height: 65vh;
	min-height: 300px;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.tituloAplicacion{
	text-align: center;
	color: $color;
	font-size: $titulo;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	font-style: italic;
	padding-bottom: 3rem;
}

.imagenAplicacion{
	max-width: 150px;
	max-height: 150px;
}

/* ----- BLOG ----- */

.blog__imagen{
	padding-bottom: 2rem;
	width: 100%;
    height: 460px;
    max-height: 340px;
    object-fit: cover;
    object-position: center;
}


.tituloEntradaBlog{
	text-align: center;
	color: $color;
	font-size: $titulo;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	font-style: italic;
}

.fechaBlog{
	color: $color;
	font-size: 1rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	font-style: italic;
}

.parrafoBlog{
	text-align: left;
	color: black;
	font-size: $parrafo;
}


/* ------ CONTACTO ----- */

.tituloFormulario{
	text-align: center;
	color: $color;
	font-size: 2rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	font-style: italic;
}

.bordeFormulario{
	border: solid 2px;
	border-color: $color2;
}

.botonFormulario{
	color: white;
	background-color: $color3;
}

/* ------ FOOTER ----- */

footer{
	padding: 20px;
	text-align: center;
	font-size: 1rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-style: italic;
	text-transform: uppercase;
}


